<!DOCTYPE html>
<html lang="en">
<header id="header">
    <h1><a href="/">KIM & PARK</a></h1>
    <nav class="links">
        <ul>
            <li><a href="#">About KIM</a></li>
            <li><a href="#">About PARK</a></li>
            <li><a href="https://github.com/hong-il">KIM Github</a></li>
            <li><a href="https://github.com/Wongok">PARK Github</a></li>
            <li><a href="#">Contact us</a></li>
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search"/>
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>
</html>