<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<article class="post" th:fragment="post(post, userEmail)" th:object="${post}">
    <header>
        <div class="title">
            <h2>
                <a href="#" th:text="*{title}"></a>
            </h2>
            <p th:text="*{subtitle}"></p>
        </div>
        <div class="meta">
            <time class="published" th:text="*{createdDate}"></time>
            <a href="#" class="author">
                <span class="name" th:text="*{user.getName()}"></span>
                <img th:src="*{user.getPicture()}" alt=""/>
            </a>
        </div>
    </header>

    <section>
        <p th:text="*{content}"></p>
    </section>

    <footer>
        <ul class="actions" th:if="${userEmail == 'clroyan01@gmail.com'}">
            <li><a th:href="@{/post/update/{id}(id = *{id})}" class="button solid icon fa-edit">Update</a></li>
            <li><a href="#" th:onclick="|javascript:deleteById(*{id})|"
                   class="button solid icon fa-trash">Delete</a>
            </li>
        </ul>
        <ul class="stats">
            <li><a href="#">General</a></li>
            <li><a href="#" class="icon solid fa-heart" th:text="*{likes.size()}"></a></li>
            <li><a href="#" class="icon solid fa-comment" th:text="*{comments.size()}"></a></li>
        </ul>
    </footer>
    <th:block th:replace="/fragment/comments :: comments(comments = *{comments})"></th:block>
    <th:block th:replace="/fragment/commentForm :: commentForm(postId = *{id})"></th:block>
</article>
</html>